.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 1rem 0;
}

.container .emoji h1{
    font-size: 3rem;
    color: white;
}

.container .emoji input{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 1rem 0;
}

.container .emoji-list{
    background: white;
    width: 300px;
    margin-top: 50px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
}

.container .emoji-list .emoji-item{
    margin: 0.5rem;
    cursor: pointer;
}