header{
    background: #18188f73;
    height: 70px;
    padding: 0 5%;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    margin: auto;
}

header nav .logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

header nav .right a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1.5rem;
}